body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 275px;
}

input {
  width: 400px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

.info {
  color: #666;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
}

li:last-child {
  border-bottom: none;
}
